#autoComplete_wrapper {
  position: relative;
  display: inline-block;
}

#autoComplete{
  border:none;

  background:var(--nav-color);
  text-transform:uppercase;
  color:black;

}

ul#autoComplete_list {
  position: absolute;
  z-index: 1000;
  padding: 0;
  margin-left:-2rem;
  margin-top: 0;

  transition: all 0.1s ease-in-out;
  -webkit-transition: all -webkit-transform 0.1s ease;
}
#autoComplete_list{

}
#autoComplete_list .autoComplete_result {

  padding: 2rem;
  max-width: 280px;
  border:none;
  border-color:transparent;
  list-style: none;
  text-align: left;

  transition: all 0.1s ease-in-out;
  background-color: #fff;
}

#autoComplete_list .autoComplete_result:last-child {
  border-bottom:1px solid black;
}


#autoComplete_list .autoComplete_result::selection {
  color: rgba(#ffffff, 0);
  background-color: rgba(#ffffff, 0);
}


#autoComplete_list .autoComplete_highlighted::selection {
  color: rgba(#ffffff, 0);
  background-color: rgba(#ffffff, 0);
}

#autoComplete_list .autoComplete_selected{
  background:var(--nav-color);
}

#autoComplete_list .autoComplete_result:hover,
#autoComplete_list .autoComplete_result:focus,
#autoComplete_list .autoComplete_selected
{
  cursor: pointer;
  background-color: var(--nav-color);
  /*border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  */
  border:none;
  outline: none;
  color:black;
}
#autoComplete_list .autoComplete_highlighted{
  background:var(--nav-color);
}

#autoComplete_list .autoComplete_result:hover .autoComplete_highlighted,
#autoComplete_list .autoComplete_result:focus .autoComplete_highlighted,
#autoComplete_list .autoComplete_selected .autoComplete_highlighted{
  background:#FFF;
}

@media only screen and (max-width: 600px) {
  #autoComplete {
    width: 5rem;
  }


}
