/*
  @media template
  @media screen and (max-width: 1200px) {
  }
  @media screen and (max-width: 900px) {
  }
  @media screen and (max-width: 640px) {
  }
*/

@font-face { 
  font-family: "DINdong";
  src: url("typos/DINdongv3.ttf");
  font-weight: normal;
  font-style: normal;
} 

:root {
  --nav-color: rgba(200, 200, 200, 1);
  --scroll-thumb-color:#999;
  --scroll-track-color:lightgray;
}


@keyframes blinking {
  0% {
    background: rgba(200,200,200,0);
    
  }
  50% {
    background: rgba(200,200,200,1);
  }
  100% {
    background: rgba(200,200,200,0);
    
  }
}
@keyframes blinking2 {
  0% {
    background: rgba(150, 150, 150, 0);
    
  }
  50% {
    background: rgb(150, 150, 150);
  }
  100% {
    background: rgba(150, 150, 150, 0);
    
  }
}
/* #region generic rules */
html{
  scroll-behavior: smooth;

}
html,
body { 
  margin: 0;
  padding: 0;
  font-size: 4px;
  font-family: 'DINdong';
  width: 100%;
  scrollbar-color:var(--scroll-thumb-color) var(--scroll-track-color);
}

* {
  box-sizing: border-box;
}

.mobile {
  display: none;
}

a {
  color: black;
}
ul, li{
  margin:0;
  padding:0;
}

main {
  margin-top: 12rem;
  padding: 0 2rem;
  font-size: 6rem;
  line-height: 8rem;
}

main h1,
main h2,
main h3,
main h4 {
  
  font-weight: normal;
  font-size: inherit;
  text-transform: uppercase;
  margin: 0;
}
main h3{
  font-size:10rem;
  line-height:12rem;
  margin:2rem 0 2rem 20rem;
}
main a {
  text-decoration: none;
  padding: 0 1rem;
  /*background: radial-gradient( rgba(203, 203, 203, 1), rgba(203, 203, 203, 0));*/
  border:1px solid black;
}

main a:hover {
  background: var(--nav-color);
}

main section {
  position: relative;
  overflow-wrap: break-word;
  min-height:100vh;

}
main#events section, main#news section, main#database section{
  min-height:auto;
}
main section cite{
  font-style: normal;
  text-decoration:underline;
}
main section h1 {
  border-top: 1px solid;
  padding: 3rem;
  margin-bottom: 3rem;
} 
main section .text{
  max-width: 1500px;
}
main section .text h2 {
  margin: 6rem 0;
  text-align: left;
}

main section .text p+h2 {
  margin-top: 9rem;
}

main section .text h2+p {
  text-indent: 0;
}

main section .text b,
main section .text strong {
  font-weight: normal;
}

main section .text ul {
  margin: 0;
}

main ul{
  list-style: none;
}
main section .text ul li{
  margin-bottom:2rem;
}
main section p {
  margin: 0 0 2rem 0;
  padding: 0;
  text-indent: 20rem;


}

main section h3+p, main section p:nth-of-type(1) {
  text-indent: 0rem;
}

main div.loading{
  width:100%;
  height:8rem;
  background:var(--nav-color);

}

@media screen and (max-width: 640px) {
  /*GENERIC RULES FOR MOBILE/DESKTOP*/
  .mobile {
    display: unset;
  }
  .desktop {
    display: none;
  }
  main {
    margin-top: 13rem;
    font-size: 7rem;
    line-height: 9rem;
  }
  main section p {
    text-indent: 8rem;
    hyphens: auto;
  }
  main section .text ul {
    padding: 0;
  }

}
/* #region h-scroll */
.h-scroll{
  overflow:auto;
  scrollbar-color:var(--scroll-thumb-color) var(--scroll-track-color);
}
.go-right.visible, .go-left.visible{
  opacity:1;

}
.go-right, .go-left{
  transition: opacity 0.5s ease-in-out;
  flex: 0 0 10px;

  opacity:0;
  background:white;
  z-index:100;
  top: 0px;
  /*background: linear-gradient(to right bottom, black 50%, transparent 50%);*/

  border-left:2px solid var(--nav-color);
  border-right:2px solid var(--nav-color);
  background-size:100%;
  position:sticky;


}
.go-right:before, .go-left:before{
  content:'';
  display:block;
  height:100%;
  width:2px;
  background:var(--nav-color);
  margin-left:2px;
}
.go-right{
  right:0px;
  margin-left:-10px;
}
.go-left{
  left: 0px;
  margin-right:-10px;
}
/* #endregion hscroll */
/* #region nav */

nav {
  top: 0;
  position: fixed;
  width: 100%;
  padding: 4rem 2rem 0 2rem;
  line-height: 4rem;
  font-size: 4rem;
  text-transform: uppercase;
  background: white;
  z-index: 10000;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a.active {
  color: var(--nav-color);
}

nav #main-nav ul {
  list-style: none;
  display: table;
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav #main-nav ul li {
  margin: 0;
  padding: 0;
  display: table-cell;
  padding: 2rem;
  height: 8rem;
  width: auto;
  border: 1px solid black;
  border-right: none;
}

nav #main-nav ul li:first-child {
  border-left: none;
  text-transform: initial;
}

nav #main-nav ul li.active,
nav #main-nav ul li:hover {
  background: var(--nav-color);
}

nav #main-nav ul li.active {
  border-bottom: 1px solid var(--nav-color);
}

nav #main-nav ul li a {
  display: block;
}

nav #main-nav ul li.lng:hover {
  background: none;
}

nav #main-nav ul li.lng a {
  display: inline;
}
@media screen and (max-width: 640px) {
  nav {
    margin-top: 0;
  }
  nav #main-nav ul li {
    display: block;
    border-left: none;
    border-top: none;
  }
  nav #main-nav ul li.lng {
    display: none;
  }
  nav #main-nav ul li:first-child {
    border-top: 1px solid black;
  }
  nav #main-nav ul li.active {
    border-bottom: 1px solid black;
  }
  nav div.mobile.ui {
    width: 100%;
    font-size: 5rem;
    line-height: 5rem;
    height: 5rem;
    margin-bottom: 4rem;
    display: block;
  }
  nav div.mobile.ui div.lng {
    position: absolute;
    right: 2rem;
    text-align: right;
    background: #FFF;
  }
  nav div.mobile.ui div.burger {
    position: absolute;
    height: 1em;
    width: 1.25em;
    border-bottom: 0.1em solid black;
    border-top: 0.1em solid black;
    cursor: pointer;
  }
  nav div.mobile.ui div.burger:before {
    content: "";
    position: absolute;
    top: 0.2em;
    left: 0px;
    width: 100%;
    border-top: 0.1em solid black;
  }
  nav div.mobile.ui div.burger:after {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0px;
    width: 100%;
    border-top: 0.1em solid black;
  }
  nav div.mobile.ui div.burger.close {
    border: 0;
  }
  nav div.mobile.ui div.burger.close:before {
    content: "";
    position: absolute;
    top: 0.4em;
    transform: rotate(45deg);
  }
  nav div.mobile.ui div.burger.close:after {
    content: "";
    position: absolute;
    top: 0.4em;
    transform: rotate(-45deg);
  }

}

/* #endregion nav */


/* #region submenu */
.sequence-menu { 
  margin: 0;

  width: 100%;
  display: flex;
  flex-shrink: 0;
  text-transform: uppercase;
  font-size: 4rem;
  line-height:4rem;
  background:white;

  position:sticky; 
  z-index:1000;

  top:92px;
}

.sequence-menu li:first-of-type{
  border-left:none;
}

.sequence-menu li {
  margin: 0;
  flex: 1;
  white-space: nowrap;
  border: 1px solid;
  border-right: none;
  text-transform: uppercase;
  padding:2rem;
  background: var(--nav-color);
}
.sequence-menu li.active{

  border-bottom:1px solid var(--nav-color);
  background:var(--nav-color);
}
.sequence-menu li:hover{
  background:var(--nav-color);
}
.sequence-menu li a {
  border: none;
  display:block;
  width:100%; 
}
/* #endregion submenu */
/* #endregion generic rules */

/* #region section specific rules */

/* #region section news-tpl */
main.news-tpl section{
  scroll-margin-top:12rem;
  
}

main.news-tpl section.time-now{
  animation: blinking 5s infinite;
  

}
main.news-tpl section:after {
  content:'';
  clear: both;
  display:block;
}

main.news-tpl section>*:not(h1):not(img) {
  display: none;
}


main.news-tpl section h1 {
  margin-bottom: 0;
}


main.news-tpl section h1 span:not(.title) {
  text-transform: lowercase;
  font-size: 6.5rem;
}


main.news-tpl section h1 span.title {
  display: inline-block;
  max-width: 65vw;
}


main.news-tpl section h1 span.date {
  position: absolute;
  right: 0;
}


main.news-tpl section h1 img {
  position: absolute;
  height: 19rem;
  top: 1px;
  left: 0;
  border-right: 1px solid;
  padding: 5px 5px 5px 0;
  background: white;
}


main.news-tpl section .practical {
  width: 25%;
  float: left;
  margin-top: 2.9rem;
  font-size: 6.5rem;
  line-height: 8rem;
}


main.news-tpl section .practical p {
  text-indent: 0rem;
}


main.news-tpl section .practical p+img {
  margin-top: 2rem;
}


main.news-tpl section.visible .practical img {
  max-width: 100%;
}


main.news-tpl section .text {
  margin-left: 27%;
  margin-bottom:8rem;
}


main.news-tpl section h1:hover {
  background: var(--nav-color);
  cursor: s-resize;
}


main.news-tpl section.visible h1 img {
  display: none;
}

main.news-tpl section.visible h1:hover {
  font-weight: normal;
  cursor: n-resize;
}


main.news-tpl section.visible>* {
  display: block;
}
main.news-tpl section.visible{
  min-height:100vh;
}

main.news-tpl section.visible h1 {
  margin-bottom: 3rem;
}
@media screen and (max-width: 900px) {
  main.news-tpl section h1 span.date {
    display: none;
  }
}
@media screen and (max-width: 640px) {


  main.news-tpl section h1 img {
    display: none;
  }

  main.news-tpl section h1 span.title {
    max-width: 100%;
  }
  main.news-tpl section h1 span.place {
    display: inline-block;
  }

  main.news-tpl section .practical,
  main.news-tpl section .text {
    float: none;
    margin-left: 0;
    width: 100%;
  }

}


/* #endregion section news */

/* #region section revue */

main.revue section {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: 4rem;
}

main.revue section h1 {
  border-top: none;
}

main.revue section img {
  max-width: 100%;
}

main.revue section .text {
  font-size: 6.5rem;
  line-height: 8rem;
}

@media screen and (max-width: 1200px){
  main.revue section {
    width: 33.33%;
  }
}

@media screen and (max-width: 900px){
  main.revue section {
    width: 50%;
  }
}

@media screen and (max-width: 640px){
  main.revue section {
    width: 100%;
    min-height: auto;
  }
}
/* #endregion section revue */

/* #region section info-page */
main.info-page .sequence-menu{
  top:12rem;
}
main.info-page section:last-of-type{
  border:none;
}
main.info-page section{
  scroll-margin-top: 22rem;
  border-bottom: 1px solid black;
  padding-bottom:4rem;
  margin-bottom:22rem;
}
main.info-page section:last-child{
  min-height: calc(100vh - 28rem);
}
/* #endregion section info-page */

/* #region section info */

main.info section .subSection .text {
  display: none;
}

main.info section .subSection.visible .text {
  display: block;
}

main.info section .subSection h4 {
  border-top: 1px solid;
}

main.info section .subSection h4:hover {
  cursor: s-resize;
}

main.info section .subSection.visible h4:hover {
  cursor: n-resize;
}

/* #endregion section info */


/* #region database search-ui */

#search-ui {
  font-size: 4rem;
}

#search-ui .facet-params {
  display: inline-block;
  padding: 2rem 0 2rem 2rem;
}

#search-ui .facet-params:after {
  content: '→';
  display: inline-block;
}

#search-ui .facet-params .facet-param {
  color: #666;
}

#search-ui .facet-params .facet-param:hover {
  text-decoration: line-through;
  cursor: pointer;
}

#search-ui .facet-params .facet-param:before {
  content: '+';
  display: inline;
}

#search-ui .facet-params .facet-param:after {
  content: ' 🗙';
  line-height: 0.8em;
  font-size: 0.8em;
  display: inline-block;
  vertical-align: super;
}

#search-ui .facet-params .facet-param:first-child:before {
  content: '';
}

#search-ui #search-field .item-title {
  width: auto;
}

#search-ui ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#search-ui ul li {
  text-transform: uppercase;
  width: 100%;
  min-height: 8rem;
  padding: 0 0;
  line-height: 4rem;
  border-bottom: 1px solid black;
  background: var(--nav-color);
}


#search-ui ul li#search-filters {
  padding: 0;
  margin: 0;
}
#search-ui ul li ul li:last-child {
  border-bottom: none;
}

/*facet list*/
li#search-filters > ul > li>ul{
  background:white;
  display:flex;
  
  flex-grow:0;

  overflow-x:auto;
  

}
li#search-filters ul li ul li {
  background: white;
  border-bottom: none;

  width:100rem;
}



#search-ui span.item-title {
  display: inline-block;
  width: 100%;
  padding: 2rem;
  cursor: pointer;
}


#search-ui ul li#search-filters>ul>li>span.item-title.close {
  border-bottom: 1px solid black;
}


/* #endregion */


/* #region database generic */
main.database span.label {
  text-transform: uppercase;
}


main.database header h3 {
  font-size: 6rem;
  line-height: 7rem;
  padding: 2rem 0;
  margin:0;
  white-space: nowrap;
}
main.database header h3 span.pole{
  padding-left:2rem;
}
main.database header h3 span.project{
  padding-right:2rem;
  font-size:6rem;
}
main.database header h3 span.pole:after {
  display: inline;
  content: ' + ';
}

.document-summary{
  background: white;
  font-size: 4rem;
  line-height: 6rem;
  width:92rem;
  
}
.document-summary ul{
  list-style: disc inside;

}
section.relations-entities{

}
section.relations ul{
  display:flex;
  margin:2rem 0 2rem 0;
  width:100%;
  overflow:auto;
}

section.relations ul li{
margin-right:2rem;
  border-bottom:1px solid;
  border-left:1px solid;
  font-size:4rem;
  line-height:4rem;
  white-space: nowrap;
  padding:2rem;

}

section.relations ul {
  display: flex;
}

section.relations ul li {
  border-bottom: 1px solid;
  border-left: 1px solid;
  font-size: 4rem;
  line-height: 4rem;
  padding: 2rem;
}
main.database .text-body p + p {
  text-indent: 20rem;
}
main.database .text-body a + p{
  text-indent:0;
}
main.database .text-body p {
  margin: 0;
  padding: 0;
  text-indent:0;
}

main.database .text-body h1{
  font-size:8rem;
  text-transform: none;

  margin:6rem 0 2rem 20rem;
}
main.database .text-body h2{
  font-size:7rem;
  text-transform: none;

  margin:6rem 0 2rem 20rem;
}
main.database .text-body h3{
  font-size:6rem;
  text-transform: none;

  margin:6rem 0 2rem 20rem;
}

main.database .text-body {
  width: 75%;
  text-align: left;
}
main.database section.detail-container{
  padding:8rem 0;

}
/* #endregion database generic */

/* #region database listing */

main.database div.document-summary {
  width:92rem;
  min-height:60rem;
  margin-bottom:2rem;
  margin-right:2rem;
  text-decoration: none;
  
  break-inside: avoid;
  position: relative;
}
div.document-summary.loader{
  animation: blinking2 3s infinite;
}
.grid-col+.grid-col{
  margin-left:2rem;
}
#search-results{
  background:var(--nav-color);
  padding:2rem 0 2rem 2rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}
#search-results div.document-summary:hover{
  background:var(--nav-color);
}
#search-results a:hover{
  background:white;
}

.grid-col {
  flex: 1 1 0px;
  display:block;
}



main.database div.document-summary a {
  position: relative;
  z-index: 1;

}

main.database div.document-summary a.post-link {
  position: static;
  height: 0;
  line-height: 0;
  display: block;
  background: none;
  border:0;
}

main.database div.document-summary a.post-link:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


main.database div.document-summary ul {
  margin: 1rem;
  padding: 0;

}

@media ( max-width: 640px ) {
  #search-ui>ul>li:first-child {
    border-top: 1px solid black;
  }
  .document-summary{
    width:100%;
  }

}
@media ( max-width: 900px ) {
  .grid-col--3 { display: none; }
}
@media ( max-width: 1200px ) {
  .grid-col--4 { display: none; }
}
/* #endregion */
/* #region database entity details */
main.database .entity-detail header {
  position: fixed;
  background: var(--nav-color);
  width: calc(100% - 4rem);
  z-index: 1000;
}
/* #endregion */

/* #region database object details */


main.database .object-detail section.document-summary{
  max-width:50%;
}



main.database .object-detail header {
  position: fixed;
  background: var(--nav-color);
  width: calc(100% - 4rem);
  z-index: 1000;
}

main.database .object-detail .document-medias{
  width:100%;
  display:flex;
  flex-shrink:0;

}


main.database .object-detail .document-medias .document-media{
  padding-right:2rem;
  min-width:calc(50%);
  max-width:calc(100%);
  /* display:flex; */

  white-space: nowrap;
}

main.database .object-detail .document-medias .document-media .media-preview {
/* plus besoin car ce n'est plus un flex container */
/* align-self:flex-end; */
}
main.database .object-detail .document-medias .media-detail {
  font-size: 4rem;
  line-height: 6rem;
  margin-bottom: 2rem;
  padding-left:1rem;
  white-space:normal;
  width:25%;
  align-self:flex-end;
}


main.database .object-detail .document-medias .media-detail ul {
  margin: 0;
  padding: 0;
  word-break: break-word;
}

main.database .object-detail .document-medias img,
main.database .object-detail .document-medias video {

  max-width: 100%;
  height:auto;
  max-height:100%;
  margin: auto;
}
main.database .object-detail .document-medias img{
  max-height:100%;
  max-width:100%;
}




@media screen and (max-width: 900px){
  main.database .object-detail .document-medias .media-detail{
    width:100%;
  }
  main.database .object-detail .document-medias .document-media{
    flex-wrap:wrap;
    min-width:calc(100%);
  }

}
@media screen and (max-width: 640px){

  main.database .object-detail section.document-summary{
    max-width:100%;
  }
  main.database .text-body,
  main.database .object-detail h2 {
    width: 100%;
    text-align: left;
  }
}

/* #endregion */


/* #region database project */

main.database .project header h3 {
  position: fixed;
  z-index:1000;
  background: var(--nav-color);
  width: calc(100% - 4rem);

}

main.database .project header .relations-entities{
padding-top:8rem;
}

main.database .project .sequence{

}
main.database .project .object-detail{
  scroll-margin-top:28rem;
  min-height: calc(100vh - 28rem);
}
main.database .project .object-detail header{
  position:relative;
  width:calc(100% - 6rem);

  z-index:1;
}
main.database .project .object-detail header h3{

  position:relative;
  width:100%;
}
main.database .project .object-detail header h3 .object-title{
  padding:0 2rem;
  font-size:4rem;

}
main.database .project .object-detail .detail-container{
  padding-top:0;
  width:calc(100% - 6rem);
}
main.database .project pre{
  font-size: 5rem;
}
main.database .project .object-detail .text-body ul li{
  list-style-type: disc;
  list-style-position: inside;
}
main.database .project .object-detail .text-body ul ul li{
  list-style-type: '- ';
  list-style-position: inside;
  text-indent: 20rem;
}

.timeline{
  width:6rem;
  height:calc(100vh - 48rem);


  position:fixed;
  right:2rem;
  z-index:1000;
  background:white;
}
.timeline .step{
  border:0;
  border-bottom:1px solid black;
  border-right:1px solid black;
  transition: height 0.2s linear;
  display:flex;
  font-size:4rem;
  line-height:4rem;
  background:white;
  overflow:hidden;
  align-items:center;
  justify-content: center;
  cursor:pointer;
}

.timeline .step.current{
  background:var(--nav-color);
  border-left:1px solid black;
  border-right:none;
}
@media screen and (max-width: 640px){
  main.database .project .object-detail{
    scroll-margin-top:31rem;
  }
}
/* #endregion */

/* #endregion section specific rules */
