.slider{
  display: none;
  height: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out;
}
.slider.visible{
  display: block;
  height: auto;
}

@media screen and (min-width: 640px){
  .slider.when-mobile{
    display: block;
    height: auto;
  }

}
